{% extends 'base.jinja2' %}


{% block content %}

    <h1>Hello, everyone!</h1>
    <p>Here you can find the app architecture  diagram!</p>
    <br>
    <br>
    
    <p>On this diagram you can see how to deploy flask app on remote server. 
        In this case I use AWS EC2 instance as remote server. 
        As public repo with app and all necessary files, 
        I use github, as orchistrator - Jenkins, 
        for creating infrastructure on AWS - Terraform, to set up infrastructure - Ansible, 
        app run in docker container.!</p>
    
    <img class="diagram" src='/static/img/flaskapp_diagram:_1_step_"set_up_an_environment_on_localhost".png'
         alt="app architecture diagram1">
  
    <img class="diagram" src='/static/img/flaskapp_diagram:_2_step_"set_up_an_environment_on_remote_host".png'
        alt="app architecture diagram2">

    <img class="diagram" src='/static/img/flaskapp_diagram:_3_step_"server_monitoring".png'
        alt="app architecture diagram3">
{% endblock %}